$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin debug ($debug-color: red) {
  border: 2px solid $debug-color;
}

@mixin gradientText() {
  background: -webkit-linear-gradient(left, #6432FA, #00EFEF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}