@import '_variables';
@import '_mixins';
@import '_elements';

@import './pages/home';
@import './pages/resume';
@import './pages/creative-coding';
@import './components/creative-project';

@import './components/navbar';
@import './components/switch';
@import './components/matrix-rain';
@import './components/phyllotaxis';

.App {
  background-color: var(--primary);

  font-family: 'Futura', 'Verdana', 'Comic Sans MS';
  color: var(--font-color);
  text-decoration: none;
  transition: all 400ms;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1, h2 {
  font-family: 'Rock Salt', cursive;
}

#theme-switcher {
  display: flex;
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 2;
  @include mobile {
    left: 1rem;
    top: 1rem;
    right: unset;
  }
}

// Pages layout (helps for their transitions)

.App-pages {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: black;//var(--secondary);
}

.fill {
  background-color: var(--primary);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

// Pages transition

.fade-enter {
  z-index: 1;
  transform:  translate3D(100%, 0, 0) scale(.5);
}

.fade-enter.fade-enter-active {
  animation: test 1000ms forwards 350ms;
}

.fade-exit {
  z-index: 0;
  overflow: hidden;
}

.fade-exit.fade-exit-active {
  transform: scale(0);
  transition: transform ease-in 500ms;
}

@keyframes test {
  0% {
    transform: translate3d(100%, 0, 0) scale(.5);
  }
  50% {
    transform: translate3d(0,0,0) scale(.5);
  }
  100% {
    transform: scale(1);
  }
}