@import '_variables';
@import '_mixins';
@import '_elements';

@import './pages/home';

@import './components/navbar';
@import './components/switch';

.App {
  background-color: var(--primary);

  font-family: 'Futura';
  color: var(--font-color);
  text-decoration: none;
  transition: all 400ms;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

#theme-switcher {
  display: flex;
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 2;
  @include mobile {
    left: 1rem;
    top: 1rem;
    right: unset;
  }
}

// Pages layout (helps for their transitions)

.App-pages {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 3.5rem 0;
}

// Pages transition

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
  z-index: 0;
  overflow: hidden;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate3D(0, 30%, 0);
  transition: opacity 500ms ease-in, transform 500ms;
}