.home {
  overflow-y: auto;
  &-container {
    margin: auto;
    box-sizing: border-box;
    padding: 0 1rem;
    max-width: var(--container-max-width);
    min-height: 100%;
    height: max-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      border-radius: 5rem;
      border: 2px solid var(--secondary);
      transition: border-color 400ms;
    }
  }

  &-text {
    margin-top: 1rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}